{% extends 'base.html' %}

{% block title %}DCAI{% endblock title %}


{% block body %}
<div class="text-center my-4" role="group" aria-label="Basic mixed styles example" >
    <button onclick="window.location.href ='/prepro';" type="button" class="btn btn-danger">Data Preprocessing
   </button>
    <button onclick="window.location.href ='/aug';" type="button" class="btn btn-warning">Data Augmentation</button>
    <button onclick="window.location.href ='/prog';" type="button" class="btn btn-success">Data Augmentation by GAN</button>
    <button class="btn"> <a href="{% url 'services' %}"> GO BACK</a></button>
  </div>
  
  <h1 class="text-center">GENERATIVE ADVERSIAL NETWORK</h1>
  <h2 class="text-center">DATA AUGMENTATION</h2>
  <h3 class="text-center"> RESULTS</h3>
  <div class="container my-3">
    <h1 class="my-4 text-center"></h1>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
            <img src="/static/newimg/1.jpeg.png" class="d-block w-100" alt="...">
                
                <div class="card-body">
                  <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/newimg/2.png" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/newimg/3.png" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                  <div class="d-flex justify-content-between align-items-center">
                   
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <img src="/static/newimg/4.png" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                  <div class="d-flex justify-content-between align-items-center">
                   
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/5.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/6.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/7.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/8.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/9.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/10.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/1.jpeg.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                     
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/12.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/13.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/14.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/15.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/16.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/17.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/18.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/19.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/20.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src="/static/newimg/21.png" class="d-block w-100" alt="...">
                  <div class="card-body">
                    <p class="card-text">A generative adversarial network (GAN) is a machine learning (ML) model in which two neural networks compete with each other to become more accurate in their predictions. GANs typically run unsupervised and use a cooperative zero-sum game framework to learn.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
        </div>

{% endblock body %}