{% extends 'base.html' %}
{% block title %}DCAI{% endblock title %}

{% block body  %}

<div class="btn-group-vertical">
  <button onclick="window.location.href ='/prepro';" type="button" class="btn btn-danger">Data Preprocessing  </button>
   <button onclick="window.location.href ='/impre';" type="button" class="btn btn-primary">Data Preprocessing on Image Dataset</button>
   <button onclick="window.location.href ='/datasetpre';" type="button" class="btn btn-dark">Dataset Before Preprocessing</button>
   <button onclick="window.location.href ='/datasetAfter';" type="button" class="btn btn-dark">Dataset after Preprocessing </button>
 
   
   <button onclick="window.location.href ='/aug';" type="button" class="btn btn-warning">Data Augmentation</button>
   <button onclick="window.location.href ='/augb';" type="button" class="btn btn-dark">Dataset Before Augmentation</button>  
   <button onclick="window.location.href ='/auga';" type="button" class="btn btn-dark">Dataset After Augmentation</button>  
   
   <button onclick="window.location.href ='/prog';" type="button" class="btn btn-success">Data Augmentation by GAN</button>
</div>



<!--<div class="text-center my-4" role="group" aria-label="Basic mixed styles example" >
    <button onclick="window.location.href ='/prepro';" type="button" class="btn btn-danger">Data Preprocessing
   </button>
    <button onclick="window.location.href ='/aug';" type="button" class="btn btn-warning">Data Augmentation</button>
    <button onclick="window.location.href ='/prog';" type="button" class="btn btn-success">Data Augmentation by GAN</button>
  </div>-->

{% endblock body %}

